<nav class="navbar navbar-dark bg-secondary">
  <a href="/" class="navbar-brand">
      Angular CRUD Frontend
  </a>
</nav>
<div class="container">
  <div class="row">
   
    <div class="col-md-8">
      <div class="div card">
        <div class="card body">
         <div class="card title">            
           <h5>Ingrese un nuevo Contacto</h5>
         </div>                  
        <form [formGroup]="contactoForm" (ngSubmit)="registrarContacto()">                   
          <div class="form group">
            <input type="text" class="form-control" placeholder="Consigne el fullname" formControlName="fullname">
          </div>
          <div class="form group">
            <input type="text" class="form-control" placeholder="Consigne el phone" formControlName="phone">
          </div>
          <div class="form group">
            <input type="text" class="form-control" placeholder="Consigne el email" formControlName="email">
          </div>
          
          <div class="form group">
            <button type="submit" class="btn btn-primary">Guardar
            </button>
            <button class="btn btn-danger">Nuevo
            </button>
          </div>
        </form>         

        </div>        
     </div>     

      <div class="div card">        
        <h5>Contactos Registrados:</h5>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">N° </th>
                <th scope="col">fullname </th>
                <th scope="col">phone </th>
                <th scope="col">email </th>              
              </tr>                           
            </thead>           
            <tbody>
              <tr *ngFor="let contacto of contactoArray; let i = index">
                <td>{{i + 1}}</td>
                <td>{{contacto.fullname}}</td>
                <td>{{contacto.phone}}</td>
                <td>{{contacto.email}}</td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>            
    </div>
    <div class="col-md-4">
      <img
        width="200"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />

    </div>
  </div>

</div>


